<style>
    #btn{
        margin-top: 130px;
    }
</style>
<div class="card"  ng-repeat="gym in gymList">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-md-pull-9">
                    <span><img src="{{gym.profileImg}}" class=".img-thumbnail" width="200" height="200"></span>
                </div>
                <div class="col-md-8 col-md-push-3" >
                    <h6>Name: <strong>{{gym.name}}</strong></h6>
                    <h6>Monthly Price: <strong>€{{gym.monthlyPrice}}</strong></h6>
                    <h6>3 Months: <strong>€{{gym.threeMonthPrice}}</strong></h6>
                    <h6>Yearly Price: <strong>€{{gym.yearPrice}}</strong></h6>
                    <h6>Email: <strong>{{gym.email}} </strong></h6>
                    <h6>Website: <a href="{{gym.website}}"> link here</a></h6>
                </div>
                <div class=".col-md-3 .col-md-offset-3">
                    <button class="btn btn-info" id="btn"><span class="fa fa-info-circle"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>