<body>
<style>
    #innerNav{
        width: 200px;
        background-color: #db3236;
    }
    #sideNav{
        width:200px;


    }
    body{
        background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    }

    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 66%;
    }

</style>
<div class="jumbotron">
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" >
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{main.username}}'s Profile</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="innerNav" >
            <div class="sidebar-sticky" id="sideNav">
                <ul class="nav flex-column" >
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">
                            <span class="fa fa-home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findMyPrograms">
                            <span class="fa fa-tasks"></span>
                            My Programs
                        </a>
                    </li>
                    <li class="nav-item" ng-show="main.isAdmin">
                        <a class="nav-link" href="/gyms_trainers">
                            <span class="fa fa-unlock-alt"></span>
                            Admin Panel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preUpdateProfileInfo"  >
                            <span class="fa fa-address-card"></span>
                            Update Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/updatePtInfo" ng-show="main.isPersonalTrainer" >
                            <span class="fa fa-edit"></span>
                            Update PT info
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findGym">
                            <span class="fa fa-map-marker"></span>
                            Find Gyms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-heartbeat"></span>
                            Diets and More
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Site User base</h1>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Personal Trainer</th>
                    <th>Personal Trainer Request</th>
                    <th>Administrator</th>

                </tr>
                </thead>
                <tbody ng-repeat="user in userList">
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.isPersonalTrainer}}</td>
                    <th> <button class="btn btn-info"  ng-show="{{user.isPersonalTrainerTemp}}" ng-click="main.makeTrainer(user._id)">Make Trainer</button></th>
                    <td>{{user.isAdmin}}</td>

                     <td>
                        <button class="btn btn-danger" ng-click="main.deleteUser(user._id)"><span class="fa fa-trash"></span></button>
                    </td>
                   </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
</div>