<style>
    #btn{
        margin-top: 130px;
    }
    body{
        background-image: url("https://pre00.deviantart.net/c334/th/pre/f/2011/243/2/0/abstract_stock_background_14_by_i3ehnam-d48ex61.jpg");
    }
</style>
<div class="card" ng-repeat="users in trainerList">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-md-pull-9">
                    <span><img src="{{gym.profileImg}}" class=".img-thumbnail" width="150" height="150"></span>
                </div>
                <div class="col-md-8 col-md-push-3" >
                    <h6>Username: <strong>{{users.username}}</strong></h6>
                    <h6>Email: <strong>{{users.email}}</strong></h6>
                </div>
                <div class=".col-md-3 .col-md-offset-3">
                    <button class="btn btn-info" id="btn"><span class="fa fa-info-circle"></span> View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>