<body>
<style>
    #innerNav{
        width: 200px;
        background-color: #db3236;
    }
    #sideNav{
        width:200px;


    }
    body{
        background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    }

</style>
<div class="jumbotron">


<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" >
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{main.username}}'s Profile</a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="innerNav" >
            <div class="sidebar-sticky" id="sideNav">
                <ul class="nav flex-column" >

                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">
                            <span class="fa fa-home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-tasks"></span>
                            My Programs
                        </a>
                    </li>
                    <li class="nav-item" ng-show="main.isAdmin">
                        <a class="nav-link" href="/gyms_trainers">
                            <span class="fa fa-address-card"></span>
                            Gyms & Trainers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preUpdateProfileInfo" >
                            <span class="fa fa-edit"></span>
                            Update Profile

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findGym">
                            <span class="fa fa-map-marker"></span>
                            Find Gyms

                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-heartbeat"></span>
                            Diets and More
                        </a>
                    </li>


                </ul>


            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">User Statistics</h1>

            </div>


                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Personal Trainer</th>
                        <th>Admin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{main.username}}</td>
                        <td>{{main.isPersonalTrainer}}</td>
                        <td>{{main.isAdmin}}</td>
                    </tr>
                    </tbody>
                </table>


            <h2>Track my Progress</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Date of Entry</th>
                        <th>Weight</th>
                        <th>Height</th>
                        <th>Body Fat</th>
                        <th>Workouts completed so far</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>06/03/2018</td>
                        <td>105kg</td>
                        <td>207cm</td>
                        <td>19%</td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

</div>
</body>

