<br>
<style>

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #343a40;
        overflow-x: hidden;
        padding-top: 20px;

    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }


    .sidenav {
        height: 100%;
        width: 210px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #343a40;
        overflow-x: hidden;
        padding-top: 110px;

    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #1689fc;
    }


</style>
<div>

</div>
<div class="container">
<div class="sidenav">
    <a href="#">Profile Info</a>
    <a href="#">Settings</a>
    <a href="#">Change password</a>
    <a href="#">Programs and Diets</a>
</div>
    <br>
       <div class="panel panel-info">
           <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>
            <table class="table table-dark table-hover">

                <thead>

                <tr>
                    <th style="color: #1689fc">Username</th>
                    <th style="color: #1689fc">Email</th>
                    <th style="color: #1689fc">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{main.username}}</td>
                    <td>{{main.email}}</td>
                    <td>***********</td>
                </tr>
                </tbody>
            </table>
    </div>
</div>