<main role="main">
<style>
    .img{
        height: 250px;
        width: 350px;
        box-shadow: 0 0 8px 8px white inset;
    }

</style>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Track you Progress</h2>
                <p>Using the latest in technology to track the status of your gym sessions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://images.idgesg.net/images/article/2017/08/android_robot_logo_by_ornecolorada_cc0_via_pixabay1904852_wide-100732483-large.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Available on Android</h2>
                <p>A handy app to have in the gym plus it gives your personal trainer more info on you</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Find the PT for you</h2>
                <p>With a wide arrange of personal trainer's to choose from youll be sure to find one that can help you work towards you goals </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Track your progress <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">By using your device with Sculpture Fitness you can help personal trainers further tailor your program to suit you.
                    The information that can be gotten from you just going to the gym. Examples of this kind of information is heart rate or time spent in gym. If a trainer knows this kind of information
                Then the process of making a tailored program is alot easier. You just go to the gym and let the trainer do the rest</p>
            </div>
            <div class="col-md-5">
                <img src="https://www.bbcgoodfood.com/sites/default/files/detox-main.jpg" class="img" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://www.esquireme.com/sites/default/files/images/2017/07/23/esquire-personal-trainer-12452234.jpg" class="img" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="https://image.freepik.com/free-photo/fitness-equipment-on-white-background-with-copy-space_1437-256.jpg" class="img" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


</main>